@*@model FooterModel*@
@using Nop.Web.Models.Common;

<div class="col-lg-12 col-xs-12 col-sm-12 well text-center" style="margin-top: 10px;">

    <div class="footer-poweredby">
        Huy Mach Developer, 8 Aug 2014
    </div>
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
    </div>
    <div class="footer-store-theme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Widget("footer")
</div>
